.bgPrimaryGradient {
  background-image: linear-gradient(to right, #FF9800, #C97629);
}

#menu-toggle:checked+#menu {
  display: flex !important;
}

.react-sweet-progress-symbol-absolute {
  display: none !important;
}

.sidebar-item {
  display: grid;
  grid-template-columns: auto 30px;
}


