body {
  background-color: #0A0A0E;
}

.bgPrimaryGradient {
  background-image: linear-gradient(to right, #FF9800, #C97629);
}

.bgPrimaryGradientVertical {
  background-image: linear-gradient(to bottom, #FF9800, #C97629);
}

.sidebar-item {
  display: grid;
  grid-template-columns: auto 30px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E9E9E9;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
  border-radius: 5px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

input::placeholder {
  padding-left: 15px !important;
}

input.primary-placeholder::placeholder {
  color: #FF9800 !important;
}

.gray-placeholder {
  &::placeholder {
  color: #717579 !important;
  font-size: 16px !important;
  position: relative;
  top: 3px !important;
  @media(min-width: 640px) {
    font-size: 24px !important;
    margin-top: 6px !important;
  }
 }
}
